/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* reset */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
/* line 30, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 35, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 300;
}

/* line 44, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
label {
  cursor: pointer;
}

/* line 47, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
label:focus {
  outline: none;
}

/* line 50, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, #999, #536D70);
  width: 150px;
  height: 100vh;
  transform: translate3d(-150px, 0, 0);
  transition: transform 0.35s;
  pointer-events: auto;
}

/* line 61, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu.two {
  background: linear-gradient(-90deg, #a13440, #cc7317);
}

/* line 64, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu.three {
  background: #ED98D2;
}

/* line 67, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu.four {
  background: #ED98D2;
}

/* line 70, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu label.menu-toggle {
  position: fixed;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: #E3A010 url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
  pointer-events: auto;
  border-radius: 0px 0px 15px 0px;
}

/* line 83, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu label.menu-toggle:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
/* line 100, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu ul {
  list-style: none;
}

/* line 103, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}

/* line 106, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
}

/* line 114, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu.three ul li a, .menu.three ul li label {
  color: #000;
}

/* line 117, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu ul li a:hover, .menu ul li label:hover {
  color: #665;
}

/* hide inputs */
/* line 121, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
/* line 123, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
/* line 125, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

/* for show */
/* line 129, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 130, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
body {
  background: radial-gradient(#416296 5%, #283A5C 10%, #360C30 70%);
  color: #E3A010;
  font-family: 'Arvo', serif;
  text-align: center;
}

/* line 136, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#info {
  display: table;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

/* line 142, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

/* line 150, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#info #info-content h1 {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

/* line 161, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}

/* line 165, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.container {
  width: 100%;
  position: relative;
  text-align: center;
}

/* line 171, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.masonry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  margin: auto;
}

/* line 179, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-grow: 1;
}

/* line 186, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.IndexPage {
  position: relative;
  margin: 0 auto;
}

/* line 190, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.tile {
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}

/* line 196, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.tile .submission-tile {
  width: 300px;
  border-radius: 15px;
}

/* line 200, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.tile .tile-title {
  position: relative;
  width: 300px;
  height: 30px;
  background-color: #ED98D2;
  color: #011C01;
  border-radius: 0px 0px 15px 15px;
  bottom: 33px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* line 214, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.tile:hover .tile-title {
  opacity: 0.85;
}

/* line 217, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.tile .symbol-bar {
  position: relative;
  width: 300px;
  height: 40px;
  background-color: #ED98D2;
  color: #011C01;
  top: 40px;
  opacity: 0.8;
  text-align: left;
  border-radius: 15px 15px 0px 0px;
}

/* line 228, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.submission-box {
  padding-top: 20px;
}

/* line 231, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
a {
  color: white;
}

/* line 232, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
a:visited {
  color: #7b3049;
}

/* line 233, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
input[type=submit] {
  background-color: white;
  color: #7b3049;
  border: 2px solid #7b3049;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 249, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
input[type=submit]:hover {
  background-color: #7b3049;
  color: white;
}

/* line 253, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

/* line 262, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.sherlock {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

/* line 283, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.sherlock:focus:hover {
  border-bottom: 1px solid #BBB;
}

/* line 287, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.sherlock:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

/* line 293, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.watson {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

/* line 311, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.watson:hover {
  opacity: 0.8;
}

/* line 314, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box {
  width: 80%;
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: auto;
}

/* line 319, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box label {
  display: block;
  margin-bottom: 10px;
}

/* line 323, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box label > span {
  float: left;
  width: 100px;
  color: #F072A9;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

/* line 331, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #FFD2D2;
  padding: 20px;
  background: #FFF4F4;
  box-shadow: inset 0px 0px 15px #FFE5E5;
  -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
  -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

/* line 343, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box fieldset legend {
  color: #FFA0C9;
  border-top: 1px solid #FFD2D2;
  border-left: 1px solid #FFD2D2;
  border-right: 1px solid #FFD2D2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #FFF4F4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow: -0px -1px 2px #F1F1F1;
  -webkit-box-shadow: -0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 12px;
}

/* line 359, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box textarea {
  width: 250px;
  height: 100px;
}

/* line 363, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box input[type=text],
.form-box input[type=date],
.form-box input[type=datetime],
.form-box input[type=number],
.form-box input[type=search],
.form-box input[type=time],
.form-box input[type=url],
.form-box input[type=email],
.form-box select,
.form-box textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFC2DC;
  outline: none;
  color: #F072A9;
  padding: 5px 8px 8px 8px;
  box-shadow: inset 1px 1px 4px #FFD5E7;
  -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
  -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
  background: #FFEFF6;
  width: 50%;
}

/* line 386, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box .fileContainer {
  overflow: hidden;
  position: relative;
  width: 46%;
  margin: auto;
}

/* line 392, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box .fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* line 405, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.form-box input[type=submit],
.form-box input[type=button],
.form-box .fileContainer {
  background: #EB3B88;
  border: 1px solid #C94A81;
  padding: 5px 15px 5px 15px;
  color: #FFCBE2;
  box-shadow: inset -1px -1px 3px #FF62A7;
  -moz-box-shadow: inset -1px -1px 3px #FF62A7;
  -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

/* line 421, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
.required {
  color: red;
  font-weight: normal;
}

/* line 425, /Users/twilson.spqr/challenges/launch-group-work/under_review/app/assets/stylesheets/application.scss */
abbr[title="required"] {
  display: none;
}
