<div id="detective">
  <%= form_tag searches_results_path, method: 'get', style: 'text-align:right' do %>
  <p>
    <%= text_field_tag :search, params[:search], id:"search", class:"sherlock", placeholder: "What's your Jawn?" %>
    <%= submit_tag "Rechercher", id: "search", class:"watson", type: "submit" %>
  </p>
  <% end %>
</div>
